/* IK HEB DE KLEUREN GEKOZEN ROOD EN ZWART OMDAT HET DE ALBANESE KLEUREN ZIJN. */
body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 10vh;
    width: 100vw;
    background-color: #FE0000;
    display: flex;
    justify-content: space-evenly;
}

nav img {
    height: 8vh;
    padding-top: 1vh;
}



.kodra {
    color: black;
    text-decoration: none;
}

nav a:hover, .active {
    background-color: #a80000;
}

nav a:active {
    background-color: white;
}


main {
    padding-left: 0.7vw;
}

p, ul{
    font-size: 1.5em;
    max-width: 50vw;
    padding-left: 2vw;
}

h1, h2{
    font-size: 2em;
    padding-left: 2vw;
}

h3 {
    font-size: 2em;
    padding-left: 2vw;
    background-color:whitesmoke;
    
    color: black;
}

.maps {
    float:right;
    max-width: 40vw;
    max-height: 60vh;
}

figure{
    display:flex;
    column-gap: 1vw;

}

figure img{
    width: 20vw;
    height:auto;
   
}

.stad {
    max-width: 30vw;
    
}

.extra {
    max-width: 20vw;
    max-height: 30vh;
    padding-left: 2vw;
}

header{
    padding-bottom: 5vh;
    padding-top: 2vh;
}

.collage {
    max-width :100vw;
    max-height: 100vh;
}